/* https://github.com/Greg01001000/cs81-module11-form
CS 81 Module 11 Assignment 11A: React Contact Form, by GregH, 8/2/25 */

.satellites-form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

form {
    width: 380px;
    background: #111;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #bbb;
    margin-bottom: 25px;
}

.satellites-form h2 {
    font-size: 30px;
}

.input-box .field{
    width: 100%;
    min-height: 20px;
    background: transparent;
    border: 2px solid #888;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    color: #bbb;
    margin-top: 8px;
}

.input-box select.field {
    height: auto;
    padding: 10px 15px;
}

.input-box .field.mess {
    height: 200px;
    resize: none;
}

form button {
    width: 100%;
    height: 50px;
    background: #43a;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: #6050c0;
}